@mixin woman-image {
  //My images names
  $images-list: "ada-lovelace.jpeg" "grace-hopper.jpg" "karen-sparck-jones.jpg"
    "margaret-hamilton.gif" "betty-holberton.png" "katherin-coleman-johnson.jpg"
    "hedy-lamarr.jpg" "annie-easley.jpg";

  @each $current-image in $images-list {
    $i: index($images-list, $current-image);
    .image-woman-#{$i} {
      background: url("img/#{$current-image}") no-repeat center center/cover;
      flex: 1;
      width: 5.5rem;
      filter: grayscale(70%);
    }
  }
}

@mixin woman-image-media($border) {
  //My images names
  $images-list: "ada-lovelace.jpeg" "grace-hopper.jpg" "karen-sparck-jones.jpg"
    "margaret-hamilton.gif" "betty-holberton.png" "katherin-coleman-johnson.jpg"
    "hedy-lamarr.jpg" "annie-easley.jpg";

  @each $current-image in $images-list {
    $i: index($images-list, $current-image);
    .image-woman-#{$i} {
      background: url("img/#{$current-image}") no-repeat center 15%/35%;
      filter: grayscale(70%);
      order: 1;
      min-height: 100px;
      width: auto;
    }
  }
}
